SET CLIENT_ENCODING TO UTF8;
SET STANDARD_CONFORMING_STRINGS TO ON;
BEGIN;
CREATE TABLE "geo"."tmp" (gid serial,
"name" varchar(254),
"latitude" numeric,
"longitude" numeric,
"id" numeric(10,0));
ALTER TABLE "geo"."trashbin" ADD PRIMARY KEY (gid);
SELECT AddGeometryColumn('geo','trashbin','geom','4236','POINT',2);
INSERT INTO "geo"."trashbin" ("name","latitude","longitude","id",geom) VALUES ('Papierkorb 200000402','51.410550370000003','6.584027857000000','1139','01010000208C100000651207660B561A405F411EEA8CB44940');
INSERT INTO "geo"."trashbin" ("name","latitude","longitude","id",geom) VALUES ('Papierkorb 200001443','51.413880079999998','6.583538186000000','1140','01010000208C1000004259C3088B551A406E08C005FAB44940');
INSERT INTO "geo"."trashbin" ("name","latitude","longitude","id",geom) VALUES ('Papierkorb 200001526','51.409122850000003','6.591295972000000','1141','01010000208C10000073FCF7B07C5D1A40EE6536235EB44940');
CREATE INDEX ON "geo"."trashbin" USING GIST ("geom");
COMMIT;
ANALYZE "geo"."trashbin";
