<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">

	<menuitem name="rku-root" title="RKU" order="-109 "
		icon="fa-university" icon-background="#F53607"/>
	
	<menuitem name="rku-root-student" icon="fa-user-circle-o"
		title="student Portal" order="-108"/>
		
	<menuitem name="rku-root-student-info" parent="rku-root-student"
		 title="Student Info" action="rku.student.portal.view"/>
		
	<action-view name="rku.student.portal.view" title="Student Portal"
		model="com.axelor.apps.rku.db.StudentPortal" >
		<view type="grid" name="student-portal-grid"/>
		<view type="form" name="student-portal-form"/>
		<domain>self.userStudent = :__user__</domain>
	</action-view>
	
	<menuitem name="rku-root-student-attendance" parent="rku-root-student"
		title="Student attendance" action="rku.student.attendance.view"/>
		
	<action-view name="rku.student.attendance.view" title="Student attendance"
		model="com.axelor.apps.rku.db.Attendance">
		<view type="form" name="attendance-student-form"/>
	</action-view>
	
	
	<menuitem name="rku-root-student-result" parent="rku-root-student"
		title="Result" action="rku.student.result.view"/>
		
	<action-view name="rku.student.result.view" title="Student result"
		model="com.axelor.apps.rku.db.Result">
		<view type="form" name="result-student-form"/>
	</action-view>
	
	<menuitem name="rku-root-faculty" icon="fa-user-o" icon-background="#0E9136"
		title="Faculty" order="-107"/>
		
	<menuitem name="rku-root-faculty-faculty" parent="rku-root-faculty" 
		title="Faculty" action="rku.faculty.view" order="4"/>
		
	<action-view name="rku.faculty.view" title="Faculty"
		model="com.axelor.apps.rku.db.Faculty" >
		<view type="grid" name="faculty-grid"/>
		<view type="form" name="faculty-form"/>
		<domain>self.userFaculty = :__user__</domain>
	</action-view>
	
	<menuitem name="rku-root-faculty-attendance" parent="rku-root-faculty" 
		title="Attendance" order="5"/>
		
	<menuitem title="Add attendance" name="rku-root-faculty-add-attendance" 
	parent="rku-root-faculty-attendance" action="rku.faculty.attendance.view" />	
		
	<action-view name="rku.faculty.attendance.view" title="Attendance"
		model="com.axelor.apps.rku.db.Attendance" >
		<view type="grid" name="attendance-grid"/>
		<view type="form" name="attendance-form"/>
		<domain>self.course.currentYear = self.currentYear</domain>
	</action-view>
	
	<menuitem title="View attendance" name="rku-root-faculty-view-attendance-info" 
	parent="rku-root-faculty-attendance" action="rku.faculty.attendance.info.view" />	
		
	<action-view name="rku.faculty.attendance.info.view" title="Attendance"
		model="com.axelor.apps.rku.db.Attendance" >
		<view type="form" name="attendance-faculty-view-form"/>
	</action-view>
	
	
	<menuitem name="rku-root-result" parent="rku-root-faculty" 
		title="Result" action="rku.faculty.result" order="7"/>
		
	<action-view name="rku.faculty.result" title="Result"
		model="com.axelor.apps.rku.db.Result" >
		<view type="grid" name="result-grid"/>
		<view type="form" name="result-form"/>
		<domain>self.course.currentYear = self.currentYear</domain>
	</action-view>
	
	
	<menuitem name="rku-root-mentor" icon="fa fa-users" icon-background="#30BFCB"
		title="Mentor" order="-106"/>
	
	<menuitem name="rku-root-mentor-student" parent="rku-root-mentor" 
		title="Student" action="rku.mentor.student" order="5"/>
		
	<action-view name="rku.mentor.student" title="Student"
		model="com.axelor.apps.rku.db.StudentPortal" >
		<view type="grid" name="student-portal-grid"/>
		<view type="form" name="student-portal-form"/>
		
		<domain>self.currentSem = :_semester AND self.branchConfig = :_branch AND self.activeUser = true</domain>
		<context name="_user" expr="eval: __user__"/>
		<context name="_semester" expr="eval:__repo__(Faculty).all().filter('self.userFaculty = ?',_user).fetchOne()?.semConfig"/>
		<context name="_branch" expr="eval:__repo__(Faculty).all().filter('self.userFaculty = ?',_user).fetchOne()?.branch"/>
		<context name="isUpdate" expr="eval: true"/>
	</action-view>
	
	<menuitem name="rku-root-mentor-student-fee-paid" parent="rku-root-mentor" 
		title="Student Fee Paid" action="rku.mentor.student.fee.paid" order="6"/>
		
	<action-view name="rku.mentor.student.fee.paid" title="Student Fee Paid"
		model="com.axelor.apps.rku.db.StudentPortal" >
		<view type="grid" name="student-portal-account-grid"/>
		<view type="form" name="student-portal-account-form"/>
		
		<domain>self.currentSem = :_semester AND self.branchConfig = :_branch AND self.activeUser = true AND self.currentYearFee = true</domain>
		<context name="_user" expr="eval: __user__"/>
		<context name="_semester" expr="eval:__repo__(Faculty).all().filter('self.userFaculty = ?',_user).fetchOne()?.semConfig"/>
		<context name="_branch" expr="eval:__repo__(Faculty).all().filter('self.userFaculty = ?',_user).fetchOne()?.branch"/>
		<context name="isUpdate" expr="eval: true"/>
	</action-view>
	
	<menuitem name="rku-root-mentor-student-fee-unpaid" parent="rku-root-mentor" 
		title="Student Fee Unpaid" action="rku.mentor.student.fee.unpaid" order="6"/>
		
	<action-view name="rku.mentor.student.fee.unpaid" title="Student Fee Unpaid"
		model="com.axelor.apps.rku.db.StudentPortal" >
		<view type="grid" name="student-portal-account-grid"/>
		<view type="form" name="student-portal-account-form"/>
		
		<domain>self.currentSem = :_semester AND self.branchConfig = :_branch AND self.activeUser = true AND self.currentYearFee = false</domain>
		<context name="_user" expr="eval: __user__"/>
		<context name="_semester" expr="eval:__repo__(Faculty).all().filter('self.userFaculty = ?',_user).fetchOne()?.semConfig"/>
		<context name="_branch" expr="eval:__repo__(Faculty).all().filter('self.userFaculty = ?',_user).fetchOne()?.branch"/>
		<context name="isUpdate" expr="eval: true"/>
	</action-view>
	
	<menuitem name="rku-root-account" title="Account" icon="fa-newspaper-o" icon-background="#726E73" order="-105"/>
	
	<menuitem  name="rku-root-account-account" title="Account" parent="rku-root-account" action="rku.account.account.view"/>
	
	<action-view name="rku.account.account.view" title="Account" model="com.axelor.apps.rku.db.Account">
		<view type="grid" name="account-grid"/>
		<view type="form" name="account-form"/>
	</action-view>
	
	<menuitem  name="rku-root-account-fee" title="Fees" parent="rku-root-account" action="rku.account.fee.view"/>
	
	<action-view name="rku.account.fee.view" title="Fees" model="com.axelor.apps.rku.db.Fee">
		<view type="grid" name="fee-grid"/>
		<view type="form" name="fee-form"/>
	</action-view>
	
	
	
	<menuitem name="rku-root-account-student" parent="rku-root-account" 
		title="Student fee" action="rku.mentor.student" order="10"/>
		
	<menuitem name="rku-root-account-student-paid-fee" parent="rku-root-account-student" 
		title="Paid Fee" action="rku.account.student.paid.fee" order="5"/>
		
	<action-view name="rku.account.student.paid.fee" title="Paid Fee" 
		model="com.axelor.apps.rku.db.StudentPortal" >
		<view type="grid" name="student-portal-account-grid"/>
		<view type="form" name="student-portal-account-form"/>
		
		<domain>self.activeUser = true AND self.currentYearFee = true</domain>
		<context name="isUpdate" expr="eval: true"/>
	</action-view>
	
	<menuitem name="rku-root-account-student-unpaid-fee" parent="rku-root-account-student" 
		title="Unpaid Fee" action="rku.account.student.unpaid.fee" order="10"/>
		
	<action-view name="rku.account.student.unpaid.fee" title="Unpaid Fee" 
		model="com.axelor.apps.rku.db.StudentPortal" >
		<view type="grid" name="student-portal-account-grid"/>
		<view type="form" name="student-portal-account-form"/>
		
		<domain>self.activeUser = true AND self.currentYearFee = false</domain>
		<context name="isUpdate" expr="eval: true"/>
	</action-view>
		
	<menuitem name="rku-root-chat" parent="rku-root" 
		title="RKU Chat" order="8"/>
		
	<menuitem  name="rku-root-internal-chat" title="Internal Chat" parent="rku-root-chat" action="rku.internal.chat.view"/>
		
	<action-view name="rku.internal.chat.view" title="Post News" model="com.axelor.apps.rku.db.InternalChat">
		<view type="cards" name="internal-chat-card" />
		<view type="form" name="internal-chat-form"/>
	</action-view>
	
	
	<menuitem name="rku-conf"  title="Configuration" icon-background="#E7BE65" icon="fa fa-cogs" order="-100"/>
	
	<!-- 
	
	<menuitem name="rku-root-branch" parent="rku-conf" order="10"
		title="Branch" action="rku.branch.view" />
		
	<action-view name="rku.branch.view" title="Branch"
		model="com.axelor.apps.rku.db.Branch" >
		<view type="grid" name="branch-grid"/>
		<view type="form" name="branch-form"/>
	</action-view>
		
	<menuitem name="rku-root-semester" parent="rku-conf" order="20"
		title="Semester" action="rku.semester.view" />
		
	<action-view name="rku.semester.view" title="Semester"
		model="com.axelor.apps.rku.db.Semester" >
		<view type="grid" name="semester-grid"/>
		<view type="form" name="semester-form"/>
	</action-view>	
	
	-->
	
	<menuitem name="rku-root-subject" parent="rku-conf" order="10"
		title="Subject" action="rku.subject.view" />
		
	<action-view name="rku.subject.view" title="Subject"
		model="com.axelor.apps.rku.db.Subject" >
		<view type="grid" name="subject-grid"/>
		<view type="form" name="subject-form"/>
	</action-view>	
	
	<menuitem name="rku-config-branch" parent="rku-conf" order="20"
		title="Branch config" action="rku.branch.config.view" />
		
	<action-view name="rku.branch.config.view" title="Branch config"
		model="com.axelor.apps.rku.db.BranchConfig" >
		<view type="grid" name="branch-config-grid"/>
		<view type="form" name="branch-config-form"/>
	</action-view>	
	
	<menuitem name="rku-config-semester" parent="rku-conf" order="30"
		title="Sem config" action="rku.semester.config.view" />
		
	<action-view name="rku.semester.config.view" title="Sem config"
		model="com.axelor.apps.rku.db.SemesterConfig" >
		<view type="grid" name="semester-config-grid"/>
		<view type="form" name="semester-config-form"/>
	</action-view>	
	
	<menuitem name="rku-config-exam" parent="rku-conf" order="39"
		title="Exam Config" action="rku.exam.view" />
		
	<action-view name="rku.exam.view" title="Exam Config"
		model="com.axelor.apps.rku.db.Exam" >
		<view type="grid" name="exam-config-grid"/>
		<view type="form" name="exam-config-form"/>
	</action-view>	
	
	<menuitem name="rku-config-course" parent="rku-conf" order="40"
		title="Course Config" action="rku.course.view" />
		
	<action-view name="rku.course.view" title="Course Config"
		model="com.axelor.apps.rku.db.Course" >
		<view type="grid" name="course-grid"/>
		<view type="form" name="course-form"/>
	</action-view>	
		
	
	
	<menuitem name="rku-root-report" icon-background="#FBC704"  title="Reportings" order="-99" icon="fa-bar-chart"/>
	
	<menuitem name="menu-attendance-student-percentage" parent="rku-root-report"
		title="Class attendance"  action="rku.calls.dashboard.view"/>	
	
	<action-view name="rku.calls.dashboard.view" title="Student attendance">
		<view type="dashboard" name="rku.calls.dashboard" />
	</action-view>
	
	<menuitem name="menu-account-student-fee" parent="rku-root-report"
		title="Student Fees"  action="rku.calls.dashboard.account.view"/>	
	
	<action-view name="rku.calls.dashboard.account.view" title="Student Fees">
		<view type="dashboard" name="rku.account.dashboard" />
	</action-view>
	
	
	
	<!--  .............................................................................................................   -->
	
	<menuitem name="rku-root-admin" title="RKU-Admin" order="-109 "/>
	
	<menuitem name="rku-root-student-admin" icon="fa-user-circle-o" parent="rku-root-admin"
		title="student Portal" order="-108"/>
		
	<menuitem name="rku-root-student-info-admin" parent="rku-root-student-admin"
		 title="Student Info" action="rku.student.portal.admin.view"/>
		
	<action-view name="rku.student.portal.admin.view" title="Student Portal"
		model="com.axelor.apps.rku.db.StudentPortal" >
		<view type="grid" name="student-portal-grid"/>
		<view type="form" name="student-portal-form"/>
	</action-view>
	
	<menuitem name="rku-root-faculty-admin" icon="fa-user-o" icon-background="#0E9136" parent="rku-root-admin"
		title="Faculty" order="-107"/>
		
	<menuitem name="rku-root-faculty-faculty-admin" parent="rku-root-faculty-admin" 
		title="Faculty" action="rku.faculty.admin.view" order="4"/>
		
	<action-view name="rku.faculty.admin.view" title="Faculty"
		model="com.axelor.apps.rku.db.Faculty" >
		<view type="grid" name="faculty-grid"/>
		<view type="form" name="faculty-form"/>
	</action-view>
	
	
</object-views>
